<div class="heroesSection flex flex-col flex-cent gap-9 items-center">

  <!-- Séléction du hero dans le dashboard -->
  <div class="flex flex-col dashboard  rounded-2xl bg-base-300 items-center p-10">
    <h1 class="text-4xl mb-5 font-bold">Héros favoris :</h1>
    <div>
      @if (topHeroes?.length) {
        @for (hero of topHeroes; track hero.id) {
          @if (hero.favorite) {
            <button class="btn btn btn-neutral m-3"
                    [class.btn-neutral] ="hero === selectedHero"
                    [class.btn-primary] ="hero !== selectedHero"
                    (click)="onSelectHero(hero)">
              <a [routerLink]="['/heroeDetails', hero.id]" class="flex items-center">
                <span class="name text-xl"> - {{hero.name}}</span>
              </a>
            </button>
          }
        }
      }
      @else {
        <span class="font-bold text-2xl">Pas de Héros favoris !</span>
      }
    </div>
  </div>

  <!-- Séléction du hero dans le dashboard -->
  <div class="flex flex-col dashboard  rounded-2xl bg-base-300 items-center p-10">
    <h1 class="text-4xl mb-5 font-bold">Armes favorites :</h1>
    <div>
      @if (topWeapons?.length) {
        @for (weapon of topWeapons; track weapon.id) {
          @if (weapon.favorite) {
            <button class="btn btn btn-neutral m-3"
                    [class.btn-neutral] ="weapon === selectedWeapon"
                    [class.btn-primary] ="weapon !== selectedWeapon"
                    (click)="onSelectWeapon(weapon)">
              <a [routerLink]="['/heroeDetails', weapon.id]" class="flex items-center">
                <span class="name text-xl"> - {{weapon.name}}</span>
              </a>
            </button>
          }
        }
      }
      @else {
        <span class="font-bold text-2xl">Pas d'arme favorite !</span>
      }
    </div>
  </div>
</div>
