<div class="mt-10 ml-1.5 bg-base-300 rounded-2xl bg-base-300 items-center p-10">

  @if (weapon) {
    <!-- Interface de Modification d'arme -->
    <h2 class="text-4xl font-bold ml-3">{{weapon.name | uppercase}}</h2>
    <div class="text-2xl ml-10 mt-2"><span class="font-bold">ID: </span>{{ weapon.id }}</div>

    <!-- div de modification basique -->
    <div class="text-2xl ml-10">
      <span class="font-bold">Nom:</span>
      <input class="text-2xl ml-5 mt-5 input input-bordered input-info w-full max-w-xs" [(ngModel)]="weapon.name">
    </div>
    <h2 class="text-4xl font-bold ml-3 mt-10"> CARACTÉRISTIQUES </h2>

    <span class="text-xl">Total des points de compétence : {{this.totalStats}}</span>
    <br>
    <span>(total doit être = 0)</span>

    <!-- Modification des caractéristiques -->
    <div class="text-2xl ml-10 mt-5 flex flex-row gap-2 items-center">
      <span class="font-bold">Dégâts:</span>
      <div class="badge badge-neutral hover:bg-red-700 cursor-pointer select-none" (click)="decrease('damage')">-</div>
      <span class="font-bold">{{this.damage}}</span>
      <div class="badge badge-neutral hover:bg-green-700 cursor-pointer select-none" (click)="increase('damage')">+</div>
    </div>

    <div class="text-2xl ml-10 mt-5 flex flex-row gap-2 items-center">
      <span class="font-bold">Portée:</span>
      <div class="badge badge-neutral hover:bg-red-700 cursor-pointer select-none" (click)="decrease('range')">-</div>
      <span class="font-bold">{{this.range}}</span>
      <div class="badge badge-neutral hover:bg-green-700 cursor-pointer select-none" (click)="increase('range')">+</div>
    </div>

    <div class="text-2xl ml-10 mb-5 mt-5 flex flex-row gap-2 items-center">
      <span class="font-bold">Vitesse :</span>
      <div class="badge badge-neutral hover:bg-red-700 cursor-pointer select-none" (click)="decrease('speed')">-</div>
      <span class="font-bold">{{this.speed}}</span>
      <div class="badge badge-neutral hover:bg-green-700 cursor-pointer select-none" (click)="increase('speed')">+</div>
    </div>

    <div class="flex justify-between mt-5">
      <button class="btn btn-active btn-neutral" onclick="my_modal_5.showModal()">Retour</button>
      <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
          <h3 class="text-3xl font-bold">Attention</h3>
          <p class="py-4">Êtes-vous sûr de revenir en arrière ? Toutes modifications seront perdues.</p>
          <div class="modal-action">
            <form method="dialog">
              <button type="button" class="btn btn-erreur mr-5" (click)="back()">Confirmer</button>
              <button class="btn">Annuler</button>
            </form>
          </div>
        </div>
      </dialog>
      <button type="button" class="btn btn-info ml-20" (click)="saveWeapon()">Enregistrer</button>
    </div>
  }
</div>
