<button class="btn btn-active btn-neutral mt-5 text-xl" onclick="my_modal_5.showModal()"><- Retour</button>
<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="text-3xl font-bold">Attention</h3>
    <p class="py-4">Êtes-vous sûr de revenir en arrière ? Toutes modifications seront perdues.</p>
    <div class="modal-action">
      <form method="dialog">
        <button type="button" class="btn btn-erreur mr-5" (click)="back()">Confirmer</button>
        <button class="btn">Annuler</button>
      </form>
    </div>
  </div>
</dialog>
<div class="mt-10 ml-1.5 bg-base-300 rounded-2xl bg-base-300 items-center p-10">

  @if (weapon) {
    <!-- Interface de Modification d'arme -->
    <h2 class="text-4xl font-bold ml-3">{{weapon.name | uppercase}}</h2>
    <div class="text-2xl ml-10 mt-2"><span class="font-bold">ID: </span>{{ weapon.id }}</div>

    <!-- div de modification basique -->
    <div class="text-2xl ml-10">
      <span class="font-bold">Nom:</span>
      <input class="text-2xl ml-5 mt-5 input input-bordered input-info w-full max-w-xs" [(ngModel)]="weapon.name">
    </div>
    <h2 class="text-4xl font-bold ml-3 mt-10"> CARACTÉRISTIQUES </h2>

    <span class="text-xl">Total des points de compétence : {{this.totalStats}}</span>
    <br>
    <span>(total doit être = 0)</span>

    <!-- Modification des caractéristiques -->
    <div class="text-2xl ml-10 mt-5 flex flex-row gap-2 items-center">
      <span class="font-bold">Dégâts:</span>
      <div class="badge badge-neutral hover:bg-red-700 cursor-pointer select-none" (click)="decrease('damage')">-</div>
      <span class="font-bold">{{this.damage}}</span>
      <div class="badge badge-neutral hover:bg-green-700 cursor-pointer select-none" (click)="increase('damage')">+</div>
    </div>

    <div class="text-2xl ml-10 mt-5 flex flex-row gap-2 items-center">
      <span class="font-bold">Portée:</span>
      <div class="badge badge-neutral hover:bg-red-700 cursor-pointer select-none" (click)="decrease('range')">-</div>
      <span class="font-bold">{{this.range}}</span>
      <div class="badge badge-neutral hover:bg-green-700 cursor-pointer select-none" (click)="increase('range')">+</div>
    </div>

    <div class="text-2xl ml-10 mb-5 mt-5 flex flex-row gap-2 items-center">
      <span class="font-bold">Vitesse :</span>
      <div class="badge badge-neutral hover:bg-red-700 cursor-pointer select-none" (click)="decrease('speed')">-</div>
      <span class="font-bold">{{this.speed}}</span>
      <div class="badge badge-neutral hover:bg-green-700 cursor-pointer select-none" (click)="increase('speed')">+</div>
    </div>

    <div class="flex justify-between mt-5">
      <button type="button" class="btn btn-success text-2xl ml-30" (click)="saveWeapon()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-save"><path d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"/><path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7"/><path d="M7 3v4a1 1 0 0 0 1 1h7"/></svg>Enregistrer</button>
    </div>
  }
</div>
