<div class="heroesSection flex flex-row flex-cent gap-56">
  <!-- Bouton de selection -->
  <div class="heros rounded-2xl bg-base-300 items-center p-10">
    <h2 class="text-3xl m-5">Casques :</h2>

    <!-- Liste des heros -->
    <ul class="heroes">
      @for (helmet of helmets; track helmet.id;) {
        <li class="ml-7 mt-3">
          <a [routerLink]="['/helmetDetails', helmet.id]">
            <button type="button" class="btn btn-active btn-neutral flex flex-co l pb-16 pt-2"
                    [class.btn-neutral] ="helmet === selectedHelmet"
                    [class.btn-primary] ="helmet !== selectedHelmet"
                    (click)="onSelect(helmet)">
              <div class="flex flex-col">
                <span class="name text-xl"> - {{helmet.name}}</span>
                <div class="flex flex-row">
                  <div class="ml-2 badge badge-neutral p-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
                    {{helmet.health}}
                  </div>
                  <div class="ml-2 badge badge-neutral p-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/></svg>
                    {{helmet.defense}}
                  </div>
                </div>
              </div>
            </button>
          </a>
        </li>
      }
    </ul>
  </div>
</div>
